/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*defaults*/
body {
    padding: 20px;
}

/*slide show container*/
.slideshow-container {
    width: 100%;
    max-width: 700px;
    max-height: 400px;
    height: auto;
    overflow: hidden;
    margin: auto;
    position: relative;
    border-radius: 10px;

    /*shadow*/
    -webkit-box-shadow: 0px 0px 6px 0px rgba(204, 204, 204, 0.63);
    -moz-box-shadow: 0px 0px 6px 0px rgba(204, 204, 204, 0.63);
    box-shadow: 0px 0px 6px 0px rgba(204, 204, 204, 0.63);
}

.slideshow {
    width: 100%;
    height: 100%;
}

.slideshow img {
    width: 100%;
    height: auto;
}

/*hiding images by default*/
.mySlides {
    display: none;
}





/* Caption text */
.text {
    background-color: rgba(0, 0, 0, 0.404);
    color: #f2f2f2;
    font-size: 17px;
    padding: 8px 12px;
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: black;
    background-color: rgba(255, 255, 255, 0.404);
    margin: 5px;
    padding: 3px 10px;
    border-radius: 25px;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}